
/* //BODY// */

body {
    background-color: #F2F2F2;
    /*background-image: url("assets/back-shade-full-blue.jpg");
    background-position:fixed;*/
    background-size: cover;
    color: rgb(30, 30, 30);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
}

h1 {
    color: #495057;
    font-size: 2.5rem;
}

h2 {
    color: #6dc9c8;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

/* //MISE EN PAGE// */

.container {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
}

.card-white {
    background: white;
    padding: 2.5rem;
    margin: 2.5rem 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid;
    border-color: #6dc9c8;
}


/* NAVBAR*/

.menu {
    width: 100%;
    max-width: 800px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    color: #102C46;
    background: #fff;
    padding: 0;
    /*box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);*/
    border: 1px solid rgb(230,230,230);
    text-align: center;
    padding: .75rem 0;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin: 0 1.5rem;
    color: #102C46;
}

.menu a {
    font-size: 1rem;
    color: #000;
    opacity: .5;
    font-weight: 100;
    transition: all ease-in-out 300ms;
}

.menu a:hover {
    opacity: 1;
    color: #62C2C0;
}


/* BUTTONS STYLE */

.btn-blue {
    background-color: #0e3150;
    color: white;
    font-size: 1rem;
    padding: .6rem 2rem;
    border-radius: 40px;
    display: inline-block;
    margin-top: 1.5rem;
}

.btn-blue:hover {
    background-color: #87a8d0;
}

h2 + .btn-blue {
    margin-top: 0;
}


/* //SPECIFIC DESIGN// */

/* PROFIL */
#profil {
    margin-top: 5.5rem;
}
.picture img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
}

/* INTERESTS */
.list-inline {
    list-style: none;
    padding-left: 0;
}

.list-inline li {
    background-color: #0e3150;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 15px;
}

.list-inline i {
    color: #fff;
}

.list-inline li:hover {
    background-color: #87a8d0;
}

.list-act-inline {
    list-style: none;
    padding-left: 0;
}

.list-act-inline li {
    display: inline-block;
    font-size: 3.5rem;
    padding: 25px;
    color: #0e3150;
}

/* LANGUAGES */
#languages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages-wrapper {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

.box.title {
    font-weight: bold;
}

/* MOBILE DISPLAY*/

@media (max-width: 760px) {
    .container {
        width: 100%;
    }
    .card-white {
        padding: 4rem 2rem;
        margin: 5rem 0;
    }
    .menu li {
        padding: .5rem;
    }
    .menu a {
        font-size: 1rem;
    }
    #profil {
        margin-top: 8rem;
    }
    .languages-wrapper {
        font-size: : 2rem;
    }

}
